<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is home page</h1>
    <h2> <%= "Sarita Maurya".toUpperCase()  %></h2>
    <h3> <%= ["hello", "sarita", "namaste"][0] %></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos doloremque fugit blanditiis voluptas inventore vitae pariatur obcaecati recusandae similique reprehenderit soluta odio, minima, cupiditate aspernatur animi consequatur. Nam, fugiat inventore!</p>
    <button>click me</button>
</body>
</html>